<VirtualHost *:80>
  ServerName {{ wp_hostname | mandatory }}
  DocumentRoot {{ apache_document_root | mandatory }}
  ErrorLog ${APACHE_LOG_DIR}/{{ wp_hostname | mandatory }}-error.log
  CustomLog ${APACHE_LOG_DIR}/{{ wp_hostname | mandatory }}-access.log combined
  <Directory {{ apache_document_root | mandatory }}>
    Options Indexes FollowSymLinks
    AllowOverride all 
    Require all granted
  </Directory>
</VirtualHost>
